* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

:root {
    --cor-principal: #122A57;
    --cor-secundaria: #fff;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li a{
    text-decoration: none;
}

div img{
    display: block;
    width: 100%;
}

.flex-container{
    display: flex;
    max-width: 992px;
    margin: auto;
    width: 100%;
    min-width: 320px;
}

header {
    background-color: var(--cor-principal);
    height: 100px;
    display: flex;
    align-items: center;
    color: var(--cor-secundaria);
}

header .list-items{
    display: flex;
    max-width: 260px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.list-items li a{
    color: var(--cor-secundaria);
}
header .menu {
    justify-content: space-between;
}

.presentation{
    height: 100vh;
    align-items: center;
    justify-content: space-between;
}

.presentation .text-presentation{
    min-height: 200px;
}

.text-presentation h1{
    color: var(--cor-principal);
    font-size: 48px;
    margin-bottom: 10px;
}

.btn{
    background-color: var(--cor-principal);
    color: var(--cor-secundaria);
    text-align: center;
    border-radius: 30px;
    width: 220px;
    display: block;
    text-decoration: none;
    height: 50px;
    line-height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#about{
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

#about h2{
    font-size: 32px;
    color: var(--cor-principal);
    display: flex;
    margin-bottom: 20px;

}

#about h2::before{
    content: "";
    height: 50px;
    width: 5px;
    margin-right: 5px;
    background-color: var(--cor-principal);
    position: relative;
}

#about p{
    margin-bottom: 10px;
    width: 90%;
}

#about img {
    min-width: 420px;
}

.container-externo{
    background-color: var(--cor-principal);
    width: 100%;
}

#services{
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 100px;
}

#services h2{
    color: var(--cor-secundaria);
    font-size: 32px;
    margin-bottom: 20px;
}

.list-services{
    display: flex;
    justify-content: space-between;
}


.list-services .item-service{
    text-align: center;
}

.item-service a{
    width: 220px;
    background-color: var(--cor-secundaria);
    border-radius: 30px;
    text-align: center;
    margin-top: 20px;
    line-height: 50px;
    padding: 8px 20px;
    text-decoration: none;
    color: var(--cor-principal);
    font-size: 12px;
    font-weight: 700;
}

.item-service p{
    font-weight: 700;
    font-size: 18px;
    color: var(--cor-secundaria);
    margin-top: 30px;
    margin-bottom: 20px;
}
.item-service img{
    width: 80%;
    margin: auto;
}

#plans {
    flex-direction: column;
    min-height: 100vh;
    padding-top: 50px;
}

#plans h2{
    font-size: 32px;
}

.list-plans{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.item-plans{
    flex: 1;
    border: 5px solid var(--cor-principal);
    margin-right: 20px;
    padding: 10px;
    max-width: 240px;
}

.item-plans .btn{
    margin: auto;
    margin-bottom: 20px;
}

.item-plans h3{
    font-size: 24px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
}

.item-plans h3::after{
    content: "";
    background-color: var(--cor-principal);
    width: 80%;
    height: 3px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 25px;
}

.item-plans ul{
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.item-plans ul li{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.item-plans ul li::before{
    content: "";
    width: 10px;
    height: 10px;
    background-color: var(--cor-principal);
    margin-right: 5px;
}

footer{
    background-color: var(--cor-principal);
    height: 70px;
    display: flex;
    align-items: centerSS;
}

footer .footer{
    justify-content: space-between;
    color: var(--cor-secundaria);
}

/* mobile */
@media(max-width: 850px){
    .flex-container{
        flex-direction: column;
    }
    .presentation{
        flex-direction: column-reverse;
    }
    .presentation .text-presentation{
        width: 100%;
    }
    #about{
        flex-direction: column-reverse;
    }
    #about img{
        min-width: 320px;
        margin: auto;
    }
    .list-services{
        flex-direction: column;
        margin-bottom: 20px;
    }
    .item-service img{
        width: 50%;
        margin: auto;
    }

    .list-plans{
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 30px;
    }

    .list-plans .item-plans{
        max-width: 90%;
        margin: auto;
        margin-bottom: 20px;
        width: 100%;
    }
}